/* styles.css */

/* Set one-inch margins */
body {
    margin: 1in;
}

/* Set 12-point Times New Roman font */
body, p, div, span {
    font-family: "Times New Roman", Times, serif;
    font-size: 12pt;
    line-height: 2;
    margin-bottom: 0;
    text-align: left;
    text-indent: .5in;
}

h1{
    font-size: 12pt;
    line-height: 2;
    margin-bottom: 0;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

/* Set bolded section 1 headings */
h2 {
    font-weight: bold;
    text-align: left;
    font-size: 12pt;
    line-height: 2;
    margin-bottom: 0;
    font-family: "Times New Roman", Times, serif;
}

/* Set bolded section 2 headings */
h3 {
    font-weight: italic;
    text-align: left;
    font-size: 12pt;
    line-height: 2;
    margin-bottom: 0;
    font-family: "Times New Roman", Times, serif;
}

/* Set block quote formatting */
blockquote {
    margin-left: 0.5in; /* Adjust the indentation as needed */
    line-height: 1; /* Set single-spacing */
    font-size: 12pt;
    margin-bottom: 0;
    font-family: "Times New Roman", Times, serif;
    text-align: left;
}